.u-section-1 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 89px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 942px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 0 338px 0 378px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 500;
  margin: 27px 332px 0 372px;
}

.u-section-1 .u-image-1 {
  width: 319px;
  height: 197px;
  margin: -158px auto 0 40px;
}

.u-section-1 .u-image-2 {
  width: 311px;
  height: 192px;
  object-position: 50% 44.28%;
  margin: -192px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: Georgia, serif;
  margin: 0 -35px 0 6px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 8px -20px 0 20px;
}

.u-section-1 .u-text-5 {
  line-height: 1.8;
  font-size: 1.375rem;
  margin: 19px -27px 0 13px;
}

.u-section-1 .u-text-6 {
  margin-left: 13px;
  margin-right: -27px;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin-left: 13px;
  margin-right: -27px;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 5px;
    min-height: 1185px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
    margin-left: 278px;
    margin-right: 238px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -40px;
    margin-left: 278px;
    margin-right: 226px;
  }

  .u-section-1 .u-image-1 {
    width: 400px;
    height: 265px;
    margin-top: -61px;
    margin-left: -19px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -254px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -230px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 96px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 548px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 152px;
    margin-left: 173px;
    margin-right: 133px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 121px;
    margin-left: 173px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -391px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 734px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 286px;
    margin-left: 93px;
    margin-right: 53px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 41px;
    margin-left: 93px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 191px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -670px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 153px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 298px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: -65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 219px;
    margin-top: 551px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -208px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1042px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 211px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -27px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1956px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  width: 489px;
  font-size: 3.75rem;
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 28px 831px 0 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1.125rem;
  margin: 12px 12px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 12px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 12px 60px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 631px;
    font-weight: 400;
  }

  .u-section-2 .u-text-3 {
    font-weight: 400;
    width: 781px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 411px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 231px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 31px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 299px;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  width: 489px;
  font-size: 3.75rem;
  margin: 44px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 40px 349px 6px 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 177px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 605px;
}

.u-section-4 .u-text-1 {
  font-style: normal;
  width: 489px;
  font-size: 3.75rem;
  margin: 44px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 15px 869px 0 19px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 15px 124px 0 19px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-btn-4 {
  padding: 0;
}

.u-section-4 .u-btn-5 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 43px 624px 0 19px;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 20px 124px 60px 19px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 688px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 443px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 468px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 288px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 299px;
}

.u-section-5 .u-text-1 {
  font-style: normal;
  width: 489px;
  font-size: 3.75rem;
  margin: 44px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 40px 195px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 23px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 299px;
}

.u-section-6 .u-text-1 {
  font-style: normal;
  width: 489px;
  font-size: 3.75rem;
  margin: 44px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: 40px 195px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 23px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 299px;
}

.u-section-7 .u-text-1 {
  font-style: normal;
  width: 489px;
  font-size: 3.75rem;
  margin: 44px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 40px 195px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-right: 23px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }
}